.sideNavContianer {
  flex: 20%;
  height: 100%;
  border-right: 10px solid #d7e2e8;
}
.project-navigator {
  /* min-height: 500px; */
  min-height: 400px;
}
.configurations {
  /* min-height: 350px; */
  min-height: 311px;
}
/* .ant-tabs-content-holder {
  height: 450px !important;
}  */

