.miteBodyConainer{
    flex: 80%
}
.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 650px;
}
.mite-detail-view {
    display: flex;
    flex-direction: column;
}
.details-section {
    display: flex;
    flex-direction: column;
}
/* .summary-view {
    height: 185px;
}
.summary-view, .contents-view {
    flex: 1 1 auto;
} */
.summary-contents {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.left-summary {
    flex: 80%;
    border: 1px solid #d4d6d8;
    height: 90px;
    padding: 16px;
    overflow-x: auto;
    overflow-y: auto;
}
.right-summary {
    flex: 20%;
    text-align: center;
    text-transform: uppercase;
}
.right-summary h1 {
    color: red;
    font-weight: bold;
}
.attributes-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
.attributes-list li {
    flex: 50%;
    list-style-type: none;
    margin-bottom: 10px;
}
.attributes-list li:nth-child(3), .attributes-list li:nth-child(4) {
    margin-bottom: 0;
}
.key-name {
    color: #547899;
    font-weight: bold;
}
.value-name {
    color: #000;
    font-weight: 500;
}
.search-container {
    padding: 16px;
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-left: 0;
}
.view-more-container {
    /* padding: 0 16px; */
    margin-bottom: 24px;
}
.project-detail-list {
    display: table;
    width: 100%;
    margin: 0;
    padding: 16px;
}
.project-detail-list li {
    margin-bottom: 10px;
    list-style-type: none;
    display: flex;
}
.fast-label {
    color: #000;
    display: block;
    width: 15%;
    font-weight: bold;
}
.fast-value {
    color: #212121;
    width: 55%;
}
.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 70%;
}
/* .ant-tabs-content-holder {
    height: 589px;
    overflow: hidden;
} */