body, .ant-layout-footer {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
      'Arial', sans-serif !important;
    margin: 0 auto;
  }
  .ant-layout-footer {
    padding: 0 8px !important;
  }
  .mite-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}
.mite-footer p {
  margin: 0;
}
.card-container > .ant-tabs-card > .ant-tabs-content {
    height: 120px;
    margin-top: -16px;
  }
  
  .card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
    background: #fff;
    padding: 16px;
  }
  
  .card-container > .ant-tabs-card > .ant-tabs-bar {
    border-color: #fff;
  }
  
  .card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
    border-color: transparent;
    background: transparent;
  }
  
  .card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
    border-color: #fff;
    background: #fff;
  }
  .ant-tabs-nav-list .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
      background-color: #edf0f1;
  }
  .ant-tabs-content-holder {
      padding: 0 14px !important;
  }
  .project-nav-title {
    padding: 6px 14px;
    background-color: #d3e2f0;
  }
  .mite-nav-title {
    background: #d3e2f0;
    padding: 6px 14px;
  }
  .project-navigator {

  }
  .project-nav-title h3, .mite-nav-title h3 {
      margin-bottom: 0;
      color: #000;
  }
  .mite-nav-title h3 {
      color: #000;
  }
  .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
    background-color: #edf0f1 !important;
  }
  .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active {
    background-color: #fff !important;
  }
  .ant-tabs-content-holder {
    overflow-x: auto !important;
  }
  .ant-tree .ant-tree-node-content-wrapper {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
  }