body {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
      'Arial', sans-serif !important;
    margin: 0 auto;
  }
  .ant-layout-footer {
    padding: 0 8px !important;
  }
  .mite-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}
.mite-footer p {
  margin: 0;
}
  